!!! 5
%html
  %head
    %title DEPS
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link{ href: 'http://fonts.googleapis.com/css?family=Oxygen:400,700,300', rel: 'stylesheet', type: 'text/css' }

  %body
    %header#main-header
      %h1 Deps
      %nav
        %ul
          %li= link_to 'home', blogs_path
          = render '/categories/listcats'
          %li= link_to 'contact', contact_path
    #main-content
      = yield

    %nav.admin
      %ul
        %li= link_to 'New Blog', new_blog_path
        %li= link_to 'Categories', categories_path
        %li= link_to 'Artwork', artworks_path